* { box-sizing: border-box;}

body {
    margin: 0;
    width: 100%;
    font-family: open sans,sans-serif;
    background: #f2f2f2;
    background: hsl(0,0%,95%);
}


ul#faq {
    margin: 5%;
    width: 90%;
}

ul#faq li {
    list-style: none;
    background: hsl(0,0%,100%);
    margin: 0;
    // margin-left: -3em;
    margin-bottom: 1em;
    box-shadow: 0 1px 2px rgba(0,0,0,.08);
    transition: box-shadow .2s;
}

ul#faq li.title {
    background: transparent;
    box-shadow: none;
}

ul#faq li a {
    color: #AAC157;
    text-decoration: none;
    position: relative;
    display: flex;
    width: 100%;
    outline: none;
    padding: 1em;
}

ul#faq li a span:after {
    content: "^";
    font-size: 1.5em;
    position: absolute;
    right: 0;
}

ul#faq li .content {
    color: #333;
    padding: 0 1em 1em 1em;
    margin-top: -1em;
    transition: max-height 0.3s ease-out;
}

ul#faq li .content {
    /*display: none;*/
    max-height: 0px;
    overflow: hidden;
}

ul#faq li.visible .content {
    max-height: 500px;
}

ul#faq li.visible a span:after {
    transform-origin: 50% 50%;
    transform: rotate(180deg);
}