.container {
  background: #fff;
}

.container h2 {
  font-family: 'Museo Sans Cyrl 300';
  font-size: 1.2em;
  text-align: center;
  color: #333;
  margin: 30px 20px 20px;
}

.container .content {
  font-size: 1em;
  margin: 0 0 24px;
  padding: 0 20px;
  padding-bottom: 20px;
}


// customer comments page
blockquote {
    color: #333;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    background: #fff;
    margin: 10px 5px 30px 5px;
}

blockquote p:before {
    content: '"';
    font-size: 30px;
    color: #aaa;
}

blockquote p:after {
    content: '"';
    font-size: 30px;
    color: #aaa;
}

blockquote footer {
    float: right;
    font-style: normal;
    font-weight: 600;
}